@model PasswordModel

<div class="row mt-3">
    <div class="col-md-3">
        @await Html.PartialAsync("_settings")
    </div>
    <div class="col-md-9">
        <h3>Change Password</h3>
        <hr class="mb-3">
        <form asp-controller="Account" asp-action="ChangePassword" method="POST">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="CurrentPassword" class="col-form-label"></label>
                    <div>
                        <input asp-for="CurrentPassword" class="form-control">
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="NewPassword" class="col-form-label"></label>
                    <div>
                        <input asp-for="NewPassword" class="form-control">
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="ConfirmPassword" class="col-form-label"></label>
                    <div>
                        <input asp-for="ConfirmPassword" class="form-control">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    <script src="/modules/jquery-validation/dist/jquery.validate.min.js"/></script>
    <script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"/></script>
}