<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Shop App</h1>
            <p class="lead">Welcome to Shop App, your one-stop destination for quality products and unbeatable deals! Start shopping now and discover a world of amazing finds tailored just for you.</p>
        </div>
    </div>
</header>