<div class="list-group">
    <a class="list-group-item list-group-item-action @(ViewBag.SelectedPage == "Profile"?"active":"")" href="/account/profile">Personal Info</a>
    <a class="list-group-item list-group-item-action @(ViewBag.SelectedPage == "ChangePassword"?"active":"")" href="/account/changepassword">Change Password</a>
</div>.